@import "reset";
@import "./variables/global.scss";
@import "./themes/dark";
@import "./themes/light.scss";

body {
  font: var(--font-m);
}

.app {
  background: var(--bg-color);
  //background-image: var(--bg-image);
  //color: var(--primary-color);
  //min-height: 100vh;
  //background-size: cover;
  //background-attachment: fixed;
  //background-position: top 0px right 50%;
  //padding-left: 52px;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: var(--screen-h);
  max-height: var(--screen-h);
  height: var(--screen-h);
  overflow: hidden;

  @media screen and (min-width: 768px){
    flex-direction: row;
  }
}

.container {
  width: 100%;
  height: calc(100vh - 56px);
  position: relative;
  overflow: auto;
  padding: 0 16px;

  @media screen and (min-width: 768px){
    height: var(--screen-h);
    padding: 0 16px;
  }
}

.content-page {
  display: flex;
}

.center {
  text-align: center;
}

.agi {
  font-weight: 600;
  color: var(--agility);
}
.str {
  font-weight: 600;
  color: var(--strength);
}
.const {
  font-weight: 600;
  color: var(--const);
}
.int {
  font-weight: 600;
  color: var(--int);
}
.wis {
  font-weight: 600;
  color: var(--wis);
}
.char {
  font-weight: 600;
  color: var(--char);
}


