.linkCard {
  @media screen and (min-width: 768px){
    max-width: 260px;
    display: grid;
    flex: 1 1 20%;
  }
}

.navRow {
  display: flex;
  flex-direction: column;
  gap: 12px;

  @media screen and (min-width: 768px){
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
  }
}
