.left {
  width: 100%;

  &.active {
    width: 40%;
  }
}

.title {
  font: var(--font-lg);
  font-weight: 600;
}

.right {
  margin-left: auto;
  position: sticky;
  top: 40px;
  width: 100%;
  height: calc(var(--screen-h) - 24px - 24px - 56px);
  background-color: var(--card-bg-hover);
  border-radius: 10px;

  @media screen and (min-width: 768px) {
    height: calc(var(--screen-h) - 24px - 24px);
  }

  @media screen and (min-width: 1200px) {
    width: calc(60% - 24px);
    //height: calc(var(--screen-h) - 24px - 24px);
  }
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 16px 24px;
}

.content {
  margin: 0 24px;
}

.closeButton {
  position: relative;
  width: 20px;

  &::before, &::after {
    content: "";
    display: block;
    width: 20px;
    height: 2px;
    background-color: var(--primary-color);
    position: absolute;
  }

  &::before {
    transform: rotateZ(45deg);
  }

  &::after {
    transform: rotateZ(-45deg);
  }
}

.scrollWrapper {
  height: calc(100% - 66px);
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--menu-bg);
    border-radius: 12px;
  }

  &::-webkit-scrollbar-track {
  }
}
