.linkCard {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 4px;
  border-radius: 8px;
  background-color: var(--card-bg);
  cursor: pointer;
  font-weight: 500;
  transition: background-color .3s;

  &:hover {
    background-color: var(--card-bg-hover);
    transition: background-color .3s;
  }
}
